<a href="https://colab.research.google.com/github/vivekkchandra/CE888/blob/master/Helper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from IPython.display import Image
np.set_printoptions(precision = 3)

In [0]:
#Upload file
df = pd.read_csv('jester-data-1.csv', header=None)

In [4]:
array = df.values
print(array.shape)
print(array)

(24983, 101)
[[ 74.    -7.82   8.79 ...  99.    99.    99.  ]
 [100.     4.08  -0.29 ...   0.34  -4.32   1.07]
 [ 49.    99.    99.   ...  99.    99.    99.  ]
 ...
 [ 39.    99.    99.   ...  99.    99.    99.  ]
 [ 37.    99.    99.   ...  99.    99.    99.  ]
 [ 72.     2.43   2.67 ...  99.    99.    99.  ]]

In [5]:
# shorthand for np.asarray(condition).nonzero().
rate = np.where(array!=99)
print(rate)
print(len(rate[0]), rate[1].shape)

(array([    0,     0,     0, ..., 24982, 24982, 24982]), array([ 0,  1,  2, ..., 70, 71, 87]))
1835357 (1835357,)

In [6]:
a1=([[4, 5, 6],
    [7, 5, 9]])
np.where(a1 == 5)

(array([], dtype=int64),)

In [0]:
def replace(orig, percentage=0.1):
  """
  Replaces 'percentage'% of the original values in 'orig' with 99's
  :param orig: original data array
  :param percentage: percentage of values to replace (0<percentage<1)
  """
  new_data = orig.copy()
  rate = np.where(array!=99)
  n_rate = len(rate[0])
  idx = np.random.choice(n_rate, size=int(percentage*n_rate), replace=False)
  new_data[rate[0][idx], rate[1][idx]] = 99
  return new_data, (rate[0][idx], rate[1][idx])

In [0]:
#replace 10% 99 -Validation set
new_array, idx = replace(array, 0.1)

In [13]:
array[idx[0][0], idx[1][0]]

3.45

In [14]:
new_array[idx[0][0], idx[1][0]]

99.0